
.left-section {
    p {
        font-size: 18px;
        font-family: Georgia, serif !important;
        &::first-letter {
            font-size: 400%;
        }
    }

}

.right-section {
    width: 25%;
    border-left: 1px solid #EBF1F8;
    border-right: 1px solid #EBF1F8;
    border-bottom: 1px solid #EBF1F8;
    h2 {
        font-size: 36px;
        margin-top: auto;
        margin-bottom: 0;
    }
    span {
        font-size: 12px;
    }
}

time {
    margin-top: 4px;
    font-size: 12px;
    color: #5D738D;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.right-section-content {
    position: absolute;
    bottom: 10%;
}


button {
    border: 1px solid #7dade7;
    padding: 0;
    margin: 4px;
}