<mat-card>
  <img mat-card-image src="{{post.postImage}}" alt="Photo of a Shiba Inu">
  <mat-card-content class="no-margin">
  <div class="text-center">
    <div class="title">{{post.title}}</div>
    <time> LifeStyle / <span class="time">{{post.createdAt | date: 'shortDate'}}</span></time>
  </div>
  </mat-card-content>
  <mat-card-actions class="text-center no-padding">
    <button mat-button>LIKE</button>
    <button mat-button>COMMENT</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<!-- <mat-card-title>{{post.title}}</mat-card-title>
<mat-card-subtitle></mat-card-subtitle> -->