
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .title {
    font-weight: bold;
  }

  .time {
    margin-top: 4px;
    font-size: 12px;
    color: #5D738D;
    letter-spacing: 1px;
    padding-left: 4px;
}

mat-card {
  box-shadow: unset !important;
  margin: 16px 0px;
}
