<div class="container p-32">
  <h5>INSTAGRAM</h5>
  <div class="row">
    <div class="col-4">
      <img src="../../assets/images/nutrition.jpg" class="full-width" alt="Nutrition">
    </div>
    <div class="col-4">
      <img src="../../assets/images/nutrition.jpg" class="full-width" alt="Nutrition">
    </div>
    <div class="col-4">
      <img src="../../assets/images/nutrition.jpg" class="full-width" alt="Nutrition">
    </div>
    <div class="col-4">
      <img src="../../assets/images/nutrition.jpg" class="full-width" alt="Nutrition">
    </div>
    <div class="col-4">
      <img src="../../assets/images/nutrition.jpg" class="full-width" alt="Nutrition">
    </div>
    <div class="col-4">
      <img src="../../assets/images/nutrition.jpg" class="full-width" alt="Nutrition">
    </div>
    <div class="col-4">
      <img src="../../assets/images/nutrition.jpg" class="full-width" alt="Nutrition">
    </div>
    <div class="col-4">
      <img src="../../assets/images/nutrition.jpg" class="full-width" alt="Nutrition">
    </div>
    <div class="col-4">
      <img src="../../assets/images/nutrition.jpg" class="full-width" alt="Nutrition">
    </div>
  </div>
</div>